body {
  background-color: #FFF4EB;
}

.container {
  padding: 2rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.avatar {
  width: 280px;
  height: 280px;
  border: 8px solid black;
  border-radius: 50%;
  transition: all ease-in-out 0.5s;
}

.avatar:hover {
  transform: scale(1.25) rotate(360deg);
  cursor: pointer;
}

.header-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-btn {
  background-color: #0768fd;
  border: 3px solid black;
  border-radius: 30px;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  margin: 2rem 0;
  box-shadow: .01rem .01rem 0 0 black;
  transition: all ease-in-out 0.5s;
}

.main-btn:hover {
-webkit-box-shadow: -11px 11px 0 0 black;
-moz-box-shadow: -11px 11px 0 0 black;
box-shadow: -11px 11px 0 0 black;
transform: translateX(11px) translateY(-11px);
cursor: pointer;
}

h1 {
  font-size: 6rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  text-shadow: 3px 5px 0px black;
  color: #6c64ce;
  -webkit-text-stroke: 3px black;
  margin: 0;
}

.header-text > h1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.first, .last{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
}

.first, .last > span {
  cursor: pointer;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: black;
  margin: 0;
  font-size: 2.5rem;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 4rem 0;
}

.main-content h1 {
  font-size: 4rem;
}

.rubber {
  /* animation: rubberBand 5s infinite; */
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  animation-name: rubberBand;
}

@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, .95, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}
